<div class="form p-4 bg-zinc-100 h-full w-full fixed overflow-auto flex flex-col gap-y-4">
    <div class="logo flex flex-col w-full items-center">
        <img src="./complete_logo.svg" alt="Logo da empresa" class="w-20 h-20">
        <span class="text-lg font-bold -translate-y-2 text-zinc-800">Eru Tecnologia</span>
    </div>

    <h1 class="text-xl font-bold text-gray-800 max-w-lg w-full mx-auto">Formulário de protocolo</h1>
    <!-- <h1 class="text-lg font-normal text-gray-800 max-w-lg w-full mx-auto">Vaga para suporte</h1> -->
        
    <div class="card p-4 bg-white shadow-sm rounded-md flex flex-col gap-y-4 max-w-lg w-full mx-auto">
        <!-- <span class="text-gray-600">Qual o atendente?</span> -->

        <p-floatlabel variant="in">
            <p-select id="in_label" [fluid]="true" [options]="attendants" [(ngModel)]="attendant" [ngModelOptions]="{standalone: true}"></p-select>
            <label for="in_label">Atendente</label>
        </p-floatlabel>

        <p-floatlabel variant="in">
            <input [fluid]="true" pInputText type="text" id="in_label" name="name" [(ngModel)]="form.lastName" [ngModelOptions]="{standalone: true}" required>
            <label for="in_label">Cliente</label>
        </p-floatlabel>

        <div>
            <h1 class="text-zinc-900">Problema</h1>
            <quill-editor class="w-full"></quill-editor>
        </div>

        <div class="w-full">
            <h1 class="text-zinc-900">Solução</h1>
            <quill-editor class="w-full"></quill-editor>
        </div>

        <div>
            <h1 class="text-zinc-900">Dificuldade</h1>
            <bar-rating [(rate)]="rate" theme="stars"/>
        </div>

        <p-button [disabled]="!everythingFilled()" (onClick)="executeRecaptcha(reCaptcha)" [loading]="loading" severity="info" label="Realizar envio" [fluid]="true"></p-button>
        <re-captcha style="opacity: 0; pointer-events: none" #reCaptcha size="invisible" siteKey="6LcCQYYqAAAAABtj_-tHVPET84ot0zckEkXe_IJZ" (resolved)="submit($event)"></re-captcha>

        <p-message severity="success" *ngIf="infoSended">Informações enviadas com sucesso! Caso você seja pré-selecionado para entrevista, te informaremos pelo WhatsApp.</p-message>
        <p-message severity="error" *ngIf="maximumSizeExceeded">Você excedeu o tamanho máximo de 10MB em seus anexos.</p-message>
    </div>
</div>